@import url(styles/header.css);
@import url(styles/carrossel.css);

:root{
    --preto-principal: #000000;
    --cinza-principal: #343A40;
    --amarelo-principal: #DAFF01;
    --branco-principal: #FFFFFF;
    --preto-secundario: #212529;
    --fonte-principal: 'Inter', sans-serif;

}




