
.carrossel{
    width: 375px;
    height: 415px;
    top: 144px;
}

.swiper-slide img {
    width: 100%;
}


.swiper {
    max-width: 375px; 
    margin: 0 auto; 
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
}