.cabeçalho{
   background-color: var(--preto-principal);
    height: 58px;
    padding-left: 1rem;
    position: relative; 
    width: 375px;
    
   
   
}
.container{
    display: flex;
    max-width: 375px;
    height: auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 4;
   
}
.container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburguer{
    background-image: url("../img/Fechar.svg");
 }

.logo{
    width: 125.7px;
    height: auto;
}
.pesquisa{
    align-items: center;
    justify-content: center;
    padding: 1rem;
}   
.banner__pesquisa{
    border: solid 1px var(--preto-principal);
    width: 225.6px;
    height: 37px;
}
.search{
    font-family: var(--fonte-principal);
    font-weight:500;
    font-size: 16px;
    align-items: center;

}

.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Icon\ Color.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    z-index: 6;
    position: relative;
    padding: 1rem;

}

.lista-menu{
    display: none;
    position: absolute;
    top: -20%;
    left: 65%;
    right: 0;
    width: 100%;
    padding: 0;
    
   
}




.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--cinza-principal);
}

.lista-menu__titulo{
    color: var(--amarelo-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.lista-menu__link{
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.container__botao{
    display: none;
}


.titulo__categoria{
    font-size: 28px;
    font-family: var(--fonte-principal);
    color: var(--preto-secundario);
    align-items: center;
    justify-content: center;
    width: 295px;
    height: 34px;
   padding: 24px 39.5px 24px 40.5px;

}


.lista-categoria__link{
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    background-color: var(--preto-principal);
    color: var(--branco-principal);
    width: 146px;
    height: 35px;
    padding: 8px 16px 8px 16px;
}
.container__categoria-camisetas-bolsas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    padding-bottom: 16px;
}

.container__categoria-calçados-calças{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    text-decoration: none;
    gap: 30px;
    padding-bottom: 16px;
}

.container__categoria-casacos-oculos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    text-decoration: none;
    gap: 30px;
    padding-bottom: 16px;
}




@media screen and (min-width: 768px) {

    .container{
       display: block;
       max-width: 768px;
       height: auto;
       
    }

    .cabeçalho{
        display:block;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 768px;

    
        
    }
    .logo{
        width: 99.56px;
        height: 24px;
        
    }

    .container__meteora {
        width: 99.56px;
        height: 24px;
        justify-content: center;
        align-items: center;
     

       
    }
    .container__tablet{
        display: flex;
        flex-direction: row;

    }

    .lista-menu{
        display: flex;
        align-items: center;
        text-align: center;
        
        
    }
    .lista-menu__link{
        font-size: 13px;
        color: var(--branco-principal);
    }
    .lista-categoria__link{
        font-size: 13px;
        font-weight: 400;
        padding-top: 18px;
        align-items: center;
        text-align: center;
    }
.pesquisa{
    z-index: 9999;
    align-items: center;
    text-align: center;
}
    .cabeçalho__menu-hamburguer {

        display: none;
        justify-content: center;

        
    }
    .lista-menu__titulo{
        font-family: var(--fonte-principal);
        color: var(--branco-principal);
        font-size: 13px;
        font-weight: 400;
        background-color: var(--preto-principal);
    }
    .lista-menu__item{
      display: flex;
      align-items: center;
      text-align: center;
      font-family: var(--fonte-principal);
      font-size: 13px;
      font-weight: 400;
      color: var(--branco-principal);
      background-color: var(--preto-principal);
      height: 58px;
      padding: 3px;
      padding-top: 2px;
      gap: 5px;
     
     
    }
    .lista__categoria{
        display: flex;
        flex-wrap:wrap;
        max-width: 768px;
        text-align: center;
    }

   
}