.cabeçalho{
   background-color: var(--preto-principal);
    height: 58px;
    padding-left: 1rem;
    position: relative;
    z-index: 9999;
    
   
   
}
.container{
    display: flex;
    max-width: 375px;
    height: auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
   
    
    
 
   
}
.logo{
    width: 125.7px;
    height: auto;
}
.pesquisa{
    align-items: center;
    justify-content: center;
    padding: 1rem;
}   
.banner__pesquisa{
    border: solid 1px var(--preto-principal);
    width: 225.6px;
    height: 37px;
}
.search{
    font-family: inter;
    font-weight:500;
    font-size: 16px;
    align-items: center;

}

.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Icon\ Color.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    z-index: 9999;
    position: relative;
    padding: 1rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 65%;
    right: 0;
    width: 100%;
    padding: 0;
   
}
.ista-menu__nav{

    position: absolute;
    top: 0;
}



.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--cinza-principal);
}

.lista-menu__titulo{
    color: var(--amarelo-principal);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
}

.lista-menu__link{
    color: var(--branco-principal);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
}
.container__botao{
    display: none;
}