.cabeçalho{
    background-color: var(--preto-principal);
   margin: 10px;
   
   
}
.container{
    display: flex;
    width: 375px;
    height: 58px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
 
   
}
.logo{
    width: 125.7px;
    height: 18px;
}
